* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E5EBB2;
}

header {
    text-align: center;
    background-color: #F8C4B4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink:1 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

}
button {
    width: 100px;
    height: 100px;
    font-size: 23px;
    background-color: #482673;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 6px 0px rgba(121,119,133,1);
}

button:active {
    background-color: #8546d6;
    box-shadow: inset 0px 4px 6px 0px rgba(121,119,133,1);
}

footer {
    text-align: center;
    background-color: #301008;
    color: whitesmoke;
}

footer a {
    text-decoration: underline;
    color: whitesmoke;
}

#scoreboard, #options, #results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 400px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}