* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE2B7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    background-color: #D62828;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink:1 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #003049;
    color: whitesmoke;
}

footer a {
    text-decoration: underline;
    color: whitesmoke;
}

#scoreboard, #options, #results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 400px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}