@import url("https://fonts.googleapis.com/css?family=Baloo+2:300,400,500,800");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Baloo 2", sans-serif;
}

header {
    text-align: center;
    background-color: black;
    color: gray;
    padding: 5vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 9vh;
    gap: 52px;

}

button {
    width: 100px;
    height: 100px;
    font-size: 23px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 6px 0px rgba(121,119,133,1);
    cursor: pointer;
}

button:active {
    background-color: gray;
    box-shadow: inset 0px 4px 6px 0px rgba(121,119,133,1);
}

footer, footer a {
    text-align: center;
    background-color: black;
    color: gray;
}

footer a {
    text-decoration: underline;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreboard, #options, #results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    width: 400px;
    padding-top: 33px;
    padding-bottom: 33px;
}

#results {
    flex-direction: column;
}

#pc_score, #user_score {
    font-size: 50px;
}
